@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

header {
    width: 100%;
    min-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px #111;
}

footer {
    width: 100%;
    min-height: 100px;
    background: url("../../images/footer-back.png") repeat;
    box-shadow: inset 0 0 10px #222;
}

footer .footer-content {
    margin: 0 auto;
}

footer .footer-content .social {
    width: 100%;
    height: 47px;
}

.social .social-icons{
    width: 200px;
    margin: 25px auto;
}

.social span {
    width: 40px;
    height: 42px;
    margin-left: 20px;
    display: block;
    float: left;
    background: url(../../images/icon-sprite.png) no-repeat;
}

.social span.footer-twitter {
    background-position: -112px -9px;
}

.social span.footer-twitter:hover{
    background-position: -255px -9px;
}

.social span.footer-facebook {
    background-position: -211px -9px;
}

.social span.footer-facebook:hover{
    background-position: -11px -9px;
}

.social span.footer-google {
    background-position: -162px -9px;
}

.social span.footer-google:hover{
    background-position: -61px -9px;
}

.content-copy{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.content-copy .content-copy-text{
    width: 210px;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
}

.container {
    max-width: 1050px;
}

.body-container {
    max-width: 1200px;
}

.logo-holder {
    float: left;
    width: 150px;
}

.top-buttons {
    padding: 16px 15px;
    display: block;
    background-color: inherit;
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: #ffffff;
}
.dashboard-btn a{
    padding: 2px 0 0 0 !important;
}
.last-button {
    border-right: none;
}

.login-form .form-control{
    height: 34px;
    font-size: 14px;
}

.login-form .btn{
    font-size: 14px;
}

.login-error .ln {
    position: absolute;
    left: 19%;
    top: 63%;
    font-size: 11px;
    color: red;
    padding: 5px 15px;
}

.carousel-inner img{
    height: 350px !important;
}

.hero{
    background: #FFFFFF url('../../images/hero-back.png') repeat;
    padding: 0 0 40px 0;
    text-align: center;
    color: #222;
    border-bottom: 1px solid #147f8b;
}

.hero-head h1{
    font-size: 50px;
    line-height: 55px;
}

.hero-head p{
    font-size: 22px;
    max-width: 750px;
    width: 100%;
    margin: 5px auto;
}


.head{
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}

.head h2{
    font-size: 40px;
}

.feature .head{
    color: #fff;
}

.signup .head{
    color: #222;
}

.feature{
     background: #FFFFFF url('../../images/feature-back.jpg') center center repeat;
     padding: 40px 0;
     box-shadow: inset 0 0 10px #000;
 }

.feature .feature-item{
    max-width: 300px;
    height: 275px;
    margin: 0 auto 25px;
    padding: 13px;
    background: rgba(255, 255, 255, 0.18);
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 0 15px rgba(255,255,255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.feature .feature-item span{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    color: #fff;
}

.feature .feature-item .green{
    background-color: #29c614;
}

.feature .feature-item .red{
    background-color: #e31822;
}

.feature .feature-item .blue{
    background-color: #1ed2f2;
}

.feature .feature-item .orange{
    background-color: #ff8728;
}

.feature .feature-item h3{
     margin: 18px 0 0;
     color: #ffffff;
     font-size: 23px;
 }

.feature .feature-item p{
    padding-top: 20px;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
}

.signup .btn{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-menu.home-links{
    font-size: 14px;
}

.camera-wrapper{
    margin-top: 5px;
    width: 100%;
}

.not-bold{
    font-weight: normal !important;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

label.mand {
    background-image: url(../../images/staricon.png);
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    padding-right: 10px;
}

.form-error {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.action-btn-row{
    height: 40px;
}

.action-btn{
    float: right;
    margin-left: 15px;
}