.prof-glyp{
    margin-right: 25px;
    margin-bottom: -15px;
}

.prof-p{
    margin-left: 39px;
    margin-bottom: -2px;
    font-size: 10px;
}

.prof-dd{
    margin-left: 39px;
    margin-bottom: -13px;
    font-style: italic;
}

.prof-dt{
    margin-top: 25px;
    color: #3B8F00;
}

.prof-div{
    margin-left: 25px;
}