.prof-glyp{
    margin-right: 25px;
    margin-bottom: -15px;
}

.prof-p{
    margin-left: 39px;
    margin-bottom: -2px;
    font-size: 10px;
}

.prof-dd{
    margin-left: 39px;
    margin-bottom: -13px;
    font-style: italic;
}

.prof-dt{
    margin-top: 25px;
    color: #3B8F00;
}

.prof-div{
    margin-left: 25px;
}

#graph-modal{
    width: 50%;
}

#compareAllMainDiv{
    display: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#compareAllChartArea{
    width: 100%;
}

#compareAllArea{
    width: 100%;
}

#advanced-search-panel{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#search-submit{
    margin-top: -9px;
}

.arrowUpDown{
    margin-right: 15px;
}

#advancedSearch{
    margin-top: 20px;
}
#stat-table-div td{
    font-size: 13px;
}

#stat-table{
    width: 100%;
}

#chart-region{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}